@model Tasketeer.ViewModels.AddTodoViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col">
            @using (Html.BeginForm("Add", "Todos", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <h1 class="page-header">Add Task</h1>

                <div class="form-group">
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, htmlAttributes: new { @class = "form-control" })
                    <small class="help-block">@Html.ValidationMessageFor(x => x.Name)</small>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Description)
                    @Html.TextAreaFor(x => x.Description, htmlAttributes: new { @class = "form-control" })
                    <span class="help-block">@Html.ValidationMessageFor(x => x.Description)</span>
                </div>

                <div class="row">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add Task</button>
                </div>
            }

        </div>

    </div>
</div>


