@model Tasketeer.ViewModels.TodosViewModel

@{
    ViewData["Title"] = "Task List";
}

<div class="container">
    <h1 class="page-header">My To-do's</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Assignee</th>
                <th scope="col">Task</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var todo in Model.Todos)
            {
                <tr>
                    <td scope="row" @(todo.isCompleted ? "class=strikethrough" : "")>@todo.User.FirstName</td>
                    <td scope="row" @(todo.isCompleted ? "class=strikethrough" : "")>@todo.Name</td>
                    <td @(todo.isCompleted ? "class=strikethrough" : "")>@todo.Description</td>
                    <td>
                        @if (!todo.isCompleted)
                        {
                            <a href="/complete/@todo.Id" class="btn btn-success">Mark as completed</a>
                        }
                        else
                        {
                            <a href="/uncomplete/@todo.Id" class="btn btn-warning">Mark as uncomplete</a>
                        }
                        <a href="/delete/@todo.Id" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a href="@Url.Action("Add")" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add new task</a>
    </div>
</div>
